<div class="container">
  <div class="user-container">
    <div class="user-card">
    <h2 class="user-title">Follow</h2>
    <% if @users.exists? %>
      <%= render 'users', users: @users %>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>