<div class="top-main">
  <div class="top-comment">
    <h3>
      Any boardsはサーフボード共有アプリです。</br>
      ビギナーからプロまで、全てのサーファーに向けて作られています。</br>
      早速お気に入りのボードを世界中に自慢しましょう！
    </h3>
    <div class="btn bgleft"><span><%= link_to "sign up", new_user_registration_path, class:"sign_btn" %></span></div>
  </div>
</div>