<div class="top-main">
  <div class="top-comment">
    <h3>
      Any boardsはサーフボード共有アプリです。</br>
      ビギナーからプロまで、全てのサーファーに向けて作られています。</br>
      早速お気に入りのボードを世界中に自慢しましょう！
    </h3>
    <a href='#' class="btn bgleft"><span>新規登録</span></a>
  </div>
</div>