<div id="container">
  <div id="theTarget">
    <div class="image1">
      <%= render 'top-comment' %>
    </div>
    <div class="image2">
      <%= render 'top-comment' %>
    </div>
    <div class="image3">
      <%= render 'top-comment' %>
    </div>
  </div>
</div>