/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*ヘッダー*/
header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 16px;
}

.header-body{
  width: 100%;
  display: flex;
  align-items: center;
}

nav{
  margin-left: auto;
}

.logo{
  margin-left: 30px;
}

a{
  text-decoration: none;
  color: #666666;
}

.header_list{
  display: inline-block;
  margin: 0 30px;
  list-style: none;
}


/*フッター*/
footer{
  width: 100%;
  height: 35px;
  background-color: #FFF;
  color: #707070;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
}


// 共通
main{
  background-color: rgba( 0, 0, 0, 0.1);
}

.container{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
}


/*トップページ*/

.image1 {
  background-image: image-url("img/jonathan-borba-zh8M3cvvtmY-unsplash.jpg");
}
.image2 {
  background-image: image-url("img/knut-robinson-Ti-fU32DPnY-unsplash.jpg");
}
.image3 {
  background-image: image-url("img/cameron-stow-G61o_s1gBYI-unsplash.jpg");
}

#container {
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-position: center;
}

.top-comment{
  text-align: center;
  line-height: 30px;
  padding-top: 150px;
  color: #555555;
}

/*新規登録ボタン*/
.btn{
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #555;
  border-radius: 25px;
  padding: 10px 30px;
  background:#FFF;
  text-align: center;
  outline: none;
  /*アニメーション*/
  transition: ease .2s;
}

.btn span{
  position: relative;
  z-index: 3;
  color: #333;
}

.btn:hover .sign_btn{
  color: #fff;
}

.bgleft:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background:#333;
  width: 100%;
  height: 100%;
  /*アニメーション*/
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}

.bgleft:hover:before{
  transform-origin:left top;
  transform:scale(1, 1);
}

/*my pageレイアウト*/

/*my page編集ボタン*/
.btn-show{
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #555;
  border-radius: 25px;
  padding: 3px 8px;
  background:#FFF;
  text-align: center;
  outline: none;
  /*アニメーション*/
  transition: ease .2s;
}

.btn-show span{
  position: relative;
  z-index: 3;
  color: #333;
}

.btn-show:hover .sign_btn{
  color: #fff;
}

.bgcentery:before {
  content: '';
    /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
    /*色や形状*/
  background: #333;
  width: 100%;
  height: 100%;
    /*アニメーション*/
  transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(1, 0);
  transform-origin:center;
}

/*hoverした際の形状*/
.bgcentery:hover:before{
  transform:scale(1, 1);
}

.profile-container{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: image-url("img/horizon-2602227_1920.jpg");
  background-size: cover;
  background-position: center;

}

.profile-contents{
  display: flex;
  width: 900px;
  padding: 20px;
  background-color: rgba( 255, 255, 255, 0.5)
}

.profile-icon{
  margin-left: 40px;
}

.profile-image{
  border-radius: 50%;
}

.profile-details{
  margin-left: 60px;
}

.profile-link{
  margin-top: 45px;
  margin-left: 60px;
}


 /*投稿一覧*/

.index-cantainer{
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 20px;
  background-color: #FFF;
}

.index-image{
  margin: 20px;
  padding-right: 40px;
}

.index-details{
  padding-right: 30px;
}

// お気に入り一覧
.favorite-title{
  text-align: center;
  padding-top: 60px;
}

// 投稿詳細

.show-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.show-title{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.show-nice{
  margin-left: 20px;
  margin-top: 5px;
}

.show-images{
  display: flex;
  flex-direction: column;
}

.show-text{
  width: 400px;
  margin-left: 80px;
}

.show-details{
  line-height: 20px;
}

.bold{
  width: 280px;
  font-weight: bold;
  border-bottom: solid 1px #000;
}

.destroy{
  color: red;
}

// コメント機能

.comment{
  width: 100%;
  margin: 0 auto;
}

.comment-title{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.comment-count{
  margin-left: 10px;
  margin-top: 27px;
  font-size: 20px;
}

.comment-contents{
  display: flex;
  flex-direction: column;
}

.comment-index{
  display: flex;
  justify-content: center;
}

.comment-details{
  margin: 30px;
}

.comment-new{
  display: flex;
  justify-content: center;
}

.comment-form{
  width: 600px;
  margin: 0 auto;
  border-radius: 5px;
}

.comment-submit{
  width: 80px;
}

// プロフィール編集機能

.edit-profile-container{
  display: flex;
  justify-content: center;
}

.edit-profile-title{
  text-align: center;
  padding-top: 60px;
}

.edit-profile-detail{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width: 400px;
}

.edit-label{

}

.edit-profile-image{
 height: 400px;
}

.edit-input{
  height: 30px;
  border-radius: 5px;
}

.edit-input-introduction{
  height: 80px;
  border-radius: 5px;
}

// 検索結果画面
.search-user-container{
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
}

.search-user-title{
  text-align: center;
  padding-top: 40px;
}

.search-user-contents{
  display: flex;
  margin-bottom: 40px;
  background-color: #FFF;
  padding: 20px 20px;
}

.search-user-icon{
  margin-right: 30px;
  margin-top: 30px;
}

// 検索フォーム
.search-container{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: image-url("img/jeremy-bishop-bUfLNUZ2QH8-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.search-contents{
  display: flex;
  justify-content: center;
  width: 900px;
  padding: 20px;
  background-color: rgba( 255, 255, 255, 0.7)
}

.brand-search{
  text-align: center;
}

.keyword-search{
  text-align: center;
  margin-left: 30px;
}

.genre-search{
  text-align: center;
  margin-left: 30px;
}

.search-form{
  width: 150px;
}

.search-title{
  text-align: center;
}

.signup-container{
  display: flex;
  margin-left: 250px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.signup-input{
  width: 300px;
  height: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.signup-introduction{
  width: 300px;
  height: 60px;
  border-radius: 5px;
}

.form-control{
  display: inline-block;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px 38px;
  font-size: 14px;
  color: #FFF;
  background-color: #555;
}

.form-image{
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: #FFF;
}

.signup-image{
  width: 450px;
  height: 100vh;
  margin-left: 200px;
  background-image: image-url("img/knut-robinson-Ti-fU32DPnY-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.form-links{
  display: inline-block;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  background-color: #FFF;
  margin-top: 20px;
}

// ページネーション
.pagination {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
