<header>
  <div class="header-body">
    <div class="logo">
      <a href=#>Any boards</a>
    </div>
    <nav>
     <!--
      <ul>
        <li class="header_list"><a href=#>my page</a></li>
        <li class="header_list"><a href=#>boards</a></li>
        <li class="header_list"><a href=#>search</a></li>
        <li class="header_list"><a href=#>log out</a></li>
      </ul>
      -->
      <ul>
        <li class="header_list"><a href=#>boards</a></li>
        <li class="header_list"><a href=#>log in</a></li>
        <li class="header_list"><a href=#>sign up</a></li>
      </ul>

    </nav>
  </div>
</header>